@model FRS.Entities.RegressionData

@{
    ViewBag.Title = "CountedForecast";
}

<h2>CountedForecast</h2>

<div>
    <h4>RegressionData</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>
    </dl>
</div>