@model IEnumerable<FRS.Entities.RegressionData>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GetRegressionModels";
}

<h2>GetRegressionModels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FunctionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>

            <td>
                @Html.ActionLink("CountForecast", "CountForecast", "Regression", new { regressionModelId = item.RegressionDataId }, null)
            </td>
        </tr>
    }
</table>