@model FRS.Entities.RegressionModel

@{
    ViewBag.Title = "QuickRegressionAnswer";
}

<h2>QuickRegressionAnswer</h2>

<div>
    <h4>RegressionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACoefficientForX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACoefficientForX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BFreeCoefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BFreeCoefficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XRegressiontCounting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XRegressiontCounting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YRegressionResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YRegressionResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
